.header {
    position: sticky;
    top: 1rem;
    z-index: 50;
    margin: 0 auto;
    max-width: calc(100% - 2rem);
    width: 1200px;
    border-radius: 100px;
    padding: 0.75rem 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem !important;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.link {
    font-weight: 500;
    color: var(--text-secondary);
    font-size: 0.95rem;
}

.link:hover {
    color: var(--text-primary);
}

.actions {
    display: flex;
    align-items: center;
}

.mobileMenuBtn {
    display: none;
    color: var(--text-primary);
    padding: 0.5rem;
}

@media (max-width: 768px) {

    .nav,
    .actions {
        display: none;
    }

    .mobileMenuBtn {
        display: flex;
    }

    .header {
        top: 0;
        max-width: 100%;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}